<%= content_for :head do %>
<%= stylesheet_link_tag "/assets/exclusions/jquery_data_table" %>


<script type="text/javascript">
    $(function() {
        $('#example').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers"
        });

$('form').submit(function() {

                $('form').append("<input type='hidden' name='integrated_view' value='yes'> ");
                return true;

            });

    })
</script>
<% end %>

<%= content_for :page_header do %>
<div class="pull-left" style="border: none;"><%= image_tag('logo.png') %></div>
<% end %>

<div class="row">

  <div class="span4" style="text-align: center">
    <div class="pageslide_header">
      <h1>"Answer Tags"</h1>
    </div>
    <br/>
    <br/>
    <table>
      <tr>
        <td>
          <a href="#" data-controls-modal="new_form" data-backdrop="static">
            <%= image_tag('new.png', :size=>"32x32") %>
          </a>
        </td>
        <td>
          <a href="#" data-controls-modal="new_form" data-backdrop="static">
            <h2>Create New</h2>
          </a>

          <div id="new_form" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close"> &times; </a>

              <h3>Create new record</h3>
            </div>
            <div class ="modal-body">
              <%= render 'form' %>
            </div>
		</div>


            <div id="edit_form" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close"> &times; </a>

              <h3>Edit a record</h3>
            </div>
            <div class="modal-body">

              </div>
          </div>

            
            <br>
            <br>


            
        </td>
      </tr>
      <tr>
        <td>
          <a href="#" data-controls-modal="upload_form" data-backdrop="static">
            <%= image_tag('upload.png', :size=>"32x32") %>
          </a>
        </td>
        <td>
          <a href="#" data-controls-modal="upload_form" data-backdrop="static">
            <h2>Upload</h2>
          </a>

          <div id="upload_form" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close"> &times; </a>

              <h3>Upload Excel File</h3>
            </div>
            <%= form_tag('/answer_tag/parse_save_from_excel', :multipart => true) do |f| %>
            <div class="modal-body">
              Select an Excel File :
              <%= file_field_tag :excel_file %>
            </div>

            <div class="modal-footer">
              <%= submit_tag 'Submit', :class=>"large btn primary pull-left" %>
            </div>
            <% end -%>

          </div>


        </td>
      </tr>
      <tr>
        <td>
          <a href="<%=new_answer_tag_path %>" class="add_new span3">
            <%= image_tag('download.png', :size=>"32x32") %>
          </a>
        </td>
        <td>
          <a href=" <%=new_answer_tag_path %>" class="add_new span3">
            <h2>Download</h2>
          </a>
        </td>
      </tr>

    </table>

  </div>

  <div class="span12">
    <table class="jqueried_table display" cellpadding="0" cellspacing="0" border="0" id="example">
      <thead>
      <tr>
            <th>Answer</th>
            <th>Tag</th>
         <th>Manage</th>
      </tr>
      </thead>
      <tbody>
      <% @answer_tags.each do |answer_tag| %>
      <tr>
            <td style="border-right: 1px solid #d3d3d3">
              <a href="#" data-controls-modal="show_details" data-backdrop="static"><%= answer_tag
                .answer_id %></a>
            </td>
            <td style="border-right: 1px solid #d3d3d3">
              <a href="#" data-controls-modal="show_details" data-backdrop="static"><%= answer_tag
                .tag_id %></a>
            </td>


        <td class="options">
     <a href="#" id="<%= answer_tag.id %> "class="edit_link" >Edit</a>| 
<%= link_to "Destroy", answer_tag_path(:id=>answer_tag.id,:integrated_view=>"yes"),:confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>


      <div id="show_details" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close"> &times; </a>

          <h3><%= "Answer Tag" %></h3>
        </div>
        <div class="modal-body">
              <p>
                <strong>Answer:</strong>
                <%= answer_tag.answer_id %>
              </p>

              <p>
                <strong>Tag:</strong>
                <%= answer_tag.tag_id %>
              </p>

        </div>

        <div class="modal-footer">
          <a href="#" class="close"> Back </a>
        </div>
      </div>
      <%- end -%>
      </tbody>
    </table>

  </div>

</div>
<br/>
